@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  margin: 0;
}

.app-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.body-wrapper {
  margin-top: 200px;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50%;
  z-index: 10;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

.res-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;

  padding-bottom: 70px; /* Adjust based on footer height */
  margin-left: 40px;
  position: relative;
}

.shimmer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;

  padding-bottom: 70px; /* Adjust based on footer height */
  margin-left: 40px;
  position: relative;
}

.search-box {
  width: 40%;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex: 1;
  z-index: 40;
  position: fixed;
  align-items: center;
}

.filter-box {
  width: 40%;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex: 1;
  z-index: 40;
  position: fixed;
  align-items: center;
}
